<div class="d-flex justify-content-between align-items-center mt-3 mb-5">
    <div class="d-flex gap-4">
        <a class="navbar-brand" href="/" title="home">
            <img src="../images/ccs-logo.png" alt="" class="logo">
        </a>

        <div class="d-flex align-items-center gap-2 text-white" style="overflow-x: auto;">
            <a href="/" class="text-white text-decoration-none secondary-bg-color rounded-pill" style="padding: .5rem 1rem;">Home</a>
            {{#if user}}
                <a href="/dashboard" class="text-white text-decoration-none secondary-bg-color rounded-pill" style="padding: .5rem 1rem;">Dashboard</a>
            {{/if}}
            <a href="/articles" class="text-white text-decoration-none secondary-bg-color rounded-pill" style="padding: .5rem 1rem;">Articles</a>
            <a href="/faqs" class="text-white text-decoration-none secondary-bg-color rounded-pill" style="padding: .5rem 1rem;">FAQ</a>
            {{!-- <a href="/downloadable-forms" class="text-white text-decoration-none secondary-bg-color rounded-pill" style="padding: .5rem 1rem;">Forms</a> --}}
            <a href="/" class="text-white text-decoration-none secondary-bg-color rounded-pill" style="padding: .5rem 1rem;" title="Underconstruction">CES</a>
            <a href="/" class="text-white text-decoration-none secondary-bg-color rounded-pill" style="padding: .5rem 1rem;" title="Underconstruction">ICSO</a>
            <a href="/" class="text-white text-decoration-none secondary-bg-color rounded-pill text-nowrap" style="padding: .5rem 1rem;" title="Underconstruction">CCS Tech Guild</a>
        </div>
    </div>

    {{#if user}}
        <button type="button" class="border-0 bg-transparent text-white" data-bs-toggle="dropdown"><i class="bi bi-gear fs-2"></i></button>
        <ul class="dropdown-menu secondary-bg-color">
            <li>
                <form action="/logout?_method=DELETE" method="POST">
                    <button type="submit" class="border-0 bg-transparent text-danger">Logout</button>
                </form>
                {{!-- <a href="/logout">Logout</a> --}}
            </li>
        </ul>
    {{else}}
        <button type="button" class="border-0 bg-transparent text-white" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="bi bi-box-arrow-in-right fs-2"></i></button>
        <div class="modal fade mt-5" id="loginModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body primary-bg-color rounded">
                        <form action="/login" id="loginForm" method="POST">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control border-0" id="loginUsername" name="username" placeholder="username" required>
                                <label for="loginUsername" class="text-white">Username</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control border-0" id="loginPassword" name="password" placeholder="password" required>
                                <label for="loginPassword" class="text-white">Password</label>
                            </div>
                            <div class="d-flex justify-content-around">
                                <button type="submit" class="btn btn-sm btn-dark">Login</button>
                                <button type="button" class="btn btn-sm btn-dark">Sign Up</button>
                            </div>
                        </form>

                        <form action="/register" id="registerForm" method="POST">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control border-0" id="registerFirstname" name="firstname" placeholder="firstname" required>
                                <label for="registerFirstname" class="text-white">Firstname</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control border-0" id="registerLastname" name="lastname" placeholder="lastname" required>
                                <label for="registerLastname" class="text-white">Lastname</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control border-0" id="registerIdNumber" name="idNumber" placeholder="idNumber" required>
                                <label for="registerIdNumber" class="text-white">ID No.</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control border-0" id="registerUsername" name="username" placeholder="username" required>
                                <label for="loginUsername" class="text-white">Username</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control border-0" class="form-control" id="registerPassword" name="password" placeholder="password" required>
                                <label for="loginPassword" class="text-white">Password</label>
                            </div>
                            <div class="d-flex justify-content-around">                          
                                <button type="submit" class="btn btn-sm btn-dark" id="registerSubmitBtn">Sign Up</button>
                                <button type="button" class="btn btn-sm btn-dark">Login Instead</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

</div>



