
<h1 class="text-white text-center my-5">CES Organization</h1>
<div class="mt-5 d-flex flex-wrap gap-2">

    <div class="card border-0 bg-transparent">
        <img src="public/images/academiccoordinator.jpg" class="rounded-circle mx-auto" alt="..." style="width: 10rem;">
        {{!-- <p class="text-center"><i class="bi bi-person-circle"></i></p> --}}
        <div class="card-body secondary-bg-color text-white">
            <h5 class="card-title">Jerico Vilog</h5>
            <p class="card-text">Academic Coordinator</p>
            {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
        </div>
    </div>

    <div class="card border-0 bg-transparent">
        {{!-- <img src="public/images/adviser.jpg" class="rounded-circle" alt="..." style="width: 10rem; height: 10rem; object-fit: contain;"> --}}
        <img src="public/images/adviser.jpg" class="rounded-circle mx-auto" alt="..." style="height: 10rem; width: 10rem; object-fit: cover; object-position: 0 0;">
        {{!-- <p class="text-center"><i class="bi bi-person-circle"></i></p> --}}
        <div class="card-body secondary-bg-color text-white">
            <h5 class="card-title">Kyle Sese</h5>
            <p class="card-text">Adviser</p>
            {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
        </div>
    </div>

    <div class="card border-0 bg-transparent">
        <img src="public/images/president.jpg" class="rounded-circle mx-auto" alt="..." style="width: 10rem;">
        {{!-- <p class="text-center"><i class="bi bi-person-circle"></i></p> --}}
        <div class="card-body secondary-bg-color text-white">
            <h5 class="card-title">Jhonavel Shane Paulite</h5>
            <p class="card-text">President</p>
            {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
        </div>
    </div>
    
    <div class="card border-0 bg-transparent">
        <img src="public/images/vicepresident.jpg" class="rounded-circle mx-auto" alt="..." style="width: 10rem;">
        {{!-- <p class="text-center"><i class="bi bi-person-circle"></i></p> --}}
        <div class="card-body secondary-bg-color text-white">
            <h5 class="card-title">Angelo Carcole</h5>
            <p class="card-text">Vice President</p>
            {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
        </div>
    </div>
    
    <div class="card border-0 bg-transparent">
        <img src="public/images/secretary.jpg" class="rounded-circle mx-auto" alt="..." style="width: 10rem;">
        {{!-- <p class="text-center"><i class="bi bi-person-circle"></i></p> --}}
        <div class="card-body secondary-bg-color text-white">
            <h5 class="card-title">Vanessa Malicay</h5>
            <p class="card-text">Secretary</p>
            {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
        </div>
    </div>

    <div class="card border-0 bg-transparent">
        <img src="public/images/treasurer.png" class="rounded-circle mx-auto" alt="..." style="height: 10rem; width: 10rem; object-fit: cover;">
        {{!-- <p class="text-center"><i class="bi bi-person-circle"></i></p> --}}
        <div class="card-body secondary-bg-color text-white">
            <h5 class="card-title">Trisia Sabornido</h5>
            <p class="card-text">Treasurer</p>
            {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
        </div>
    </div>

    <div class="card border-0 bg-transparent">
        <img src="public/images/pro.png" class="rounded-circle mx-auto" alt="..." style="width: 10rem;">
        {{!-- <p class="text-center"><i class="bi bi-person-circle"></i></p> --}}
        <div class="card-body secondary-bg-color text-white">
            <h5 class="card-title">Justine Caluma</h5>
            <p class="card-text">PRO</p>
            {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
        </div>
    </div>

    <div class="card border-0 bg-transparent">
        <img src="public/images/projectmanager.jpg" class="rounded-circle mx-auto" alt="..." style="width: 10rem;">
        {{!-- <p class="text-center"><i class="bi bi-person-circle"></i></p> --}}
        <div class="card-body secondary-bg-color text-white">
            <h5 class="card-title">Ryan Libron</h5>
            <p class="card-text">Project Manager</p>
            {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
        </div>
    </div>

</div>
