<div class="container mb-5">

  <div class="content-header mt-5">
    <h1 class="fw-bold fs-2">PDF & FORMS FILE</h1>
  </div>
  
  <div class="inner-content">
    <h1 class="fs-6 text-center secondary-bg-color py-4 rounded">MANUAL & FORMS</h1>
    <div id="manual_and_forms" class="d-flex flex-column p-2"></div>
  </div>

</div>

<div class="container content">
  <div class="content-header">
    <h1 class="fw-bold fs-2">INTERNSHIPS</h1>
  </div>

  <div class="row gy-5">
    <div class="col-md-6">
      <div class="inner-content">
        <h1 class="fs-6 text-center secondary-bg-color py-4 rounded">SIP INTERNSHIPS MANUAL FORMS (PDF)</h1>
        <div id="intership_manual_forms" class="d-flex flex-column p-2"></div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="inner-content">
        <h1 class="fs-6 text-center secondary-bg-color py-4 rounded">SIP Form & Annuals (PDF)</h1>
        <div id="form_and_annuals" class="d-flex flex-column p-2"></div>
      </div>
    </div>

  </div>

</div>

<script src="./js/script.js"></script>

