<div class="box-container">
  <div class="box">
      <div class="front"></div>
      <div class="back">
          <div class="first"></div>
          <div class="two-divs">
              <div class="second"></div>
              <div class="third"></div>
          </div>
      </div>
  </div>
</div>
{{!-- {{success_msg}} --}}


{{!-- <div class="loaderLogo position-absolute">
  <img src="./images/ccs-logo.png" alt="">
</div> --}}

  {{!-- <span class="text-white">Users: {{users.length}}</span> --}}

  {{!-- <div class="row gap-5 my-5">
    <a href="/neumorphism" class="card text-dark text-decoration-none col-lg-5 p-3" style="border-radius: 10px; background: #0d1117; box-shadow:  5px 5px 10px #050709, -5px -5px 10px #151b25;">
      <img src="./images/neumorphism-img.png">
      <div class="card-body secondary-bg-color text-white">
        <h5 class="card-title">Neumorphism</h5>
        <p class="card-text">Neumorphism embraces the idea of realism. Buttons should look like buttons, and UI elements should operate within the realms of physics. It believes that nothing is really flat, or floats above a surface, as flat design tends to suggest.</p>
      </div>
    </a>
    <a href="/glassmorphism" class="card text-decoration-none col-lg-5 p-3"  style="border-radius: 10px; background: #0d1117; box-shadow:  5px 5px 10px #050709, -5px -5px 10px #151b25;">
      <img src="./images/glassmorphism-img.png">
      <div class="card-body secondary-bg-color text-white">
        <h5 class="card-title">Glassmorphism</h5>
        <p class="card-text">Glassmorphism is a style which uses properties of glass to enhance your designs. It gives a translucent or transparent look and feel to its elements. Glassmorphic elements and shapes work really well on vibrant, colorful backgrounds which accentuate the glass effect. It helps you add visual hierarchy to your designs and puts focus on the content you want to highlight.</p>
      </div>
    </a>
  </div> --}}

  {{!-- <iframe src="https://uiverse.io/all?theme=dark" frameborder="0" width="100%" height="700"></iframe>
  <br><br>
  <div style="width: 100%; height: 645px; position: relative; overflow: hidden;">
    <iframe src="https://neumorphism.io/#294460" frameborder="0" width="100%" height="715" scrolling="no"></iframe>
  </div>
  <br>
  <div class="mb-5" style="width: 100%; height: 700px; position: relative; overflow: hidden;">
    <iframe src="https://hype4.academy/tools/claymorphism-generator" frameborder="0" width="100%" height="785" scrolling="no" style="position: absolute; top: -80px;"></iframe>
  </div> --}}
  {{!-- <iframe src="https://htmlcss.tools/" frameborder="0" width="100%" height="700"></iframe> --}}


