/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

body { font-family: 'Poppins', sans-serif; }
/* body { font-family: 'Raleway', sans-serif; } */

.navbar { font-family: 'Poppins', sans-serif; }
/* .navbar { font-family: 'Raleway', sans-serif; } */

.loaderLogo {
  /* border: 1px solid red; */
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: #0d1117;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s;
}

.logo {
    width: 2.5em;
}

#registerForm {
    display: none;
}

/* .register-form {
    display: none;
} */

.primary-font { font-family: 'Zen Dots', cursive; }
.primary-bg-color { background-color: #0d1117; }
.secondary-bg-color { background-color: #161b22; }

input[type="text"], input[type="password"], textarea#body, textarea#codes, textarea#description {
  background-color: #161b22;
  color: white;
}
input[type="text"]:focus, input[type="password"]:focus, textarea#body:focus, textarea#codes, textarea#description {
  background-color: #161b22;
  color: white;
}
textarea { resize: none; }

/* Downloadable Forms */
.inner-content a {
  color: white;
  position: relative;
}

.inner-content a::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 0%;
  background-color: #161b22;
  z-index: -1;
  transition: width 1s ease-in-out;
}

.inner-content a:hover::before {
  width: 100%;
}


.box-container {
  /* border: 1px solid red; */
  width: 20em;
  height: 20em;
}

.container:hover .box {
  transform: rotateY(180deg);
}

.box {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  animation: logoRotate 4s infinite;
}

@keyframes logoRotate {
  0% { transform: rotateY(0deg); }   
  50% { transform: rotateY(180deg); }   
  100% { transform: rotateY(0deg); }   
}

.front {
  /* border: 1px solid red; */
  width: 20em;
  height: 20em;
  background: no-repeat center/100% url(../images/icct-logo.png);
  position: absolute;
  backface-visibility: hidden;
}

.back {
  /* border: 1px solid yellow; */
  width: 20em;
  height: 20em;
  transform: rotateY(180deg);
  position: absolute;
  backface-visibility: hidden;
}

.first, .second, .third {
  /* border: 1px solid green; */
  width: 10em;
  height: 10em;
}

.first {
  background: no-repeat center/100% url(../images/ccs-logo.png);
  margin: auto;
}

.two-divs {
  display: flex;
}

.second {
  background: no-repeat center/100% url(../images/ces-logo.png);
}

.third {
  background: no-repeat center/85% url(../images/icso-logo.png);
}